//! **************************************************************************
// Written by: Map P.28xd on Wed Nov 27 18:13:25 2013
//! **************************************************************************

SCHEMATIC START;
COMP "P1" LOCATE = SITE "G12" LEVEL 1;
COMP "P2" LOCATE = SITE "C11" LEVEL 1;
COMP "Ca" LOCATE = SITE "L14" LEVEL 1;
COMP "Cb" LOCATE = SITE "H12" LEVEL 1;
COMP "Cc" LOCATE = SITE "N14" LEVEL 1;
COMP "Cd" LOCATE = SITE "N11" LEVEL 1;
COMP "Cf" LOCATE = SITE "L13" LEVEL 1;
COMP "Cg" LOCATE = SITE "M12" LEVEL 1;
COMP "An0" LOCATE = SITE "F12" LEVEL 1;
COMP "An1" LOCATE = SITE "J12" LEVEL 1;
COMP "An2" LOCATE = SITE "M13" LEVEL 1;
COMP "An3" LOCATE = SITE "K14" LEVEL 1;
COMP "Sw0" LOCATE = SITE "P11" LEVEL 1;
COMP "Sw1" LOCATE = SITE "L3" LEVEL 1;
COMP "Sw2" LOCATE = SITE "K3" LEVEL 1;
COMP "Sw3" LOCATE = SITE "B4" LEVEL 1;
COMP "Sw4" LOCATE = SITE "G3" LEVEL 1;
COMP "Sw5" LOCATE = SITE "F3" LEVEL 1;
COMP "Sw6" LOCATE = SITE "E2" LEVEL 1;
COMP "vga_h_sync" LOCATE = SITE "J14" LEVEL 1;
COMP "CLK50" LOCATE = SITE "B8" LEVEL 1;
COMP "vga_v_sync" LOCATE = SITE "K13" LEVEL 1;
COMP "vga_b" LOCATE = SITE "H13" LEVEL 1;
COMP "vga_g" LOCATE = SITE "F14" LEVEL 1;
COMP "vga_r" LOCATE = SITE "C14" LEVEL 1;
COMP "Reset_button" LOCATE = SITE "A7" LEVEL 1;
COMP "Ce" LOCATE = SITE "P12" LEVEL 1;
NET "CLK50_BUFGP/IBUFG" BEL "CLK50_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

